body{
    font-family: 'Rubik Pixels', cursive;
    background-repeat: no-repeat;

}

.para{
    display: flex;
    border: 2px;
    margin-right: 12px;
}
.mahapara{
    box-sizing: border-box;
    display: inline-block;
    object-position: 50px 30px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    padding-left: 0%;
    
    border: 2px;
    margin-left: 35%;
    padding-top: 0%;
    padding-bottom: 0%;
}
.poslef{
    margin-right: 50%;
}
.para2{
    box-sizing: border-box;
    display: inline-block;
    border: 2px ;
    margin-right: 65%;
    margin-top: -41%;
    font:bold;
}